	/*
	 -µcss:µ.DefCursor("nooperation","default","imgs/cursors/nooperation.png",9,9);
	 -µcss:µ.DefCursor("pointer","default","imgs/cursors/pointer.png",1,1);
	 -µcss:µ.DefCursor("pointerminus","default","imgs/cursors/pointerminus.png",1,1);
	 -µcss:µ.DefCursor("pointerplus","default","imgs/cursors/pointerplus.png",1,1);
	 -µcss:µ.DefCursor("pointermove","default","imgs/cursors/pointermove.png",1,1);
	 -µcss:µ.DefCursor("pointercut","default","imgs/cursors/pointercut.png",1,1);
	 -µcss:µ.DefCursor("pointerstamp","default","imgs/cursors/pointerstamp.png",1,1);
	 -µcss:µ.DefCursor("cross","default","imgs/cursors/cross.png",6,6);
	 -µcss:µ.DefCursor("handpointer","default","imgs/cursors/handpointer.png",3,1);
	 -µcss:µ.DefCursor("handopen","default","imgs/cursors/handopen.png",8,9);
	 -µcss:µ.DefCursor("handclosed","default","imgs/cursors/handclosed.png",6,7);
	 -µcss:µ.DefCursor("pen","default","imgs/cursors/pen.png",0,14);
	 -µcss:µ.DefCursor("brush","default","imgs/cursors/brush.png",5,13);
	 -µcss:µ.DefCursor("eraser","default","imgs/cursors/eraser.png",0,11);
	 -µcss:µ.DefCursor("fill","default","imgs/cursors/fill.png",13,14);
	 -µcss:µ.DefCursor("measurement","default","imgs/cursors/measurement.png",0,14);
	 -µcss:µ.DefCursor("memagnifierplus","default","imgs/cursors/magnifierplus.png",5,5);
	 -µcss:µ.DefCursor("magnifierminus","default","imgs/cursors/magnifierminus.png",5,5);
	 */
