/* µCSS Demos — Glittery sparkle. */

.demo-page--glittery .demo-canvas {
	cursor: pointer;
}

.demo-page--glittery .demo-canvas div.glittery {
	position: absolute;
}

@keyframes glittery {
	from {
		background-position-x: 0px;
	}

	to {
		background-position-x: 0px;
	}
}

div.glittery {
	position: fixed;
	pointer-events: none;
	mix-blend-mode: screen;
	z-index: µ($.GlitteryZIndex);
	animation: glittery 0.5s;
	-µ: Sprite("imgs/glittery/glittery.png", { afterWork: GlitterySprite });
}

div.glittery.hidden {
	display: none;
	animation: none;
}
