div.mydiv{
	padding:5px;
	font-size:20px;
	font-weight:600;
	width:500px;
	height:100px;
	-µcss:µ.SetColor(µ.$.textcolor);
	-µcss:µ.SetBorderColor(µ.$.backcolor);
	-µcss:µ.SetBackgroundColor(µ.$.backcolor);
	color:#0000ff;
	background-color:#00ff00;
	border:10px #000000 solid;
	border-radius:10px;
}