
/* This CSS is compiled by µCSS Photoshop Tool. */
::-µcss-init{
	-µcss:µ.options.createPreLoadRule=true;
}
div.loginbutton{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_login_normal.png");
	background-image:url("imgs/aqua/but_login_normal.png");
	width:55px;
	height:55px;
}
div.loginbutton:hover{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_login_hover.png");
	background-image:url("imgs/aqua/but_login_hover.png");
	width:55px;
	height:55px;
}
div.helpbutton{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_help_normal.png");
	background-image:url("imgs/aqua/but_help_normal.png");
	width:55px;
	height:55px;
}
div.helpbutton:hover{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_help_hover.png");
	background-image:url("imgs/aqua/but_help_hover.png");
	width:55px;
	height:55px;
}
div.settingsbutton{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_settings_normal.png");
	background-image:url(imgs/sprites.png);
	width:55px;
	height:55px;
}
div.settingsbutton:hover{
	display:inline-block;
	-µcss:µ.PreLoadImage("imgs/aqua/but_settings_hover.png");
	background-image:url("imgs/aqua/but_settings_hover.png");
	width:55px;
	height:55px;
}
-µcss-preload{
	background-image:url(imgs/aqua/but_login_normal.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_login_normal.png)1x,url(imgs/aqua/but_login_normal@2x.png)2x);
	background-image:url(imgs/aqua/but_login_hover.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_login_hover.png)1x,url(imgs/aqua/but_login_hover@2x.png)2x);
	background-image:url(imgs/aqua/but_help_normal.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_help_normal.png)1x,url(imgs/aqua/but_help_normal@2x.png)2x);
	background-image:url(imgs/aqua/but_help_hover.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_help_hover.png)1x,url(imgs/aqua/but_help_hover@2x.png)2x);
	background-image:url(imgs/aqua/but_settings_normal.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_settings_normal.png)1x,url(imgs/aqua/but_settings_normal@2x.png)2x);
	background-image:url(imgs/aqua/but_settings_hover.png) -99999px -99999px;
	background-image:image-set(url(imgs/aqua/but_settings_hover.png)1x,url(imgs/aqua/but_settings_hover@2x.png)2x);
	display:none;
}
